
@{
    ViewData["Title"] = "404";
}

<h1 class="alert alert-warning">404 - Page not found</h1>

<p class="alert alert-info">Hey that thing you tried to access does not exist. Please check the URL is correct.</p>

