
@{
    ViewData["Title"] = "SuccesssReservation";
}


<div class="col-lg-6 col-sm-6 col-md-6">
    <h4 class="alert alert-success" style="margin-top:20px">Order has been resevered</h4>
    <hr />
    <span class="alert alert-info">Reservation total cost is $ @ViewBag.Total</span>
</div>
