@model HoteReservation.Web.Models.Room.RoomInputModel

@{
    ViewData["Title"] = "Create";
}

<h2>Add new Room</h2>

<hr />
@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p class="alert alert-danger">@ViewBag.Message</p>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Rooms" asp-action="CreateRoom" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <input asp-for="RoomType" class="form-control" />
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxNumOfAdults" class="control-label"></label>
                <input asp-for="MaxNumOfAdults" class="form-control" />
                <span asp-validation-for="MaxNumOfAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxNumOfChildren" class="control-label"></label>
                <input asp-for="MaxNumOfChildren" class="form-control" />
                <span asp-validation-for="MaxNumOfChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Room" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"  class="btn btn-default">Rooms</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
