@model HoteReservation.Web.Models.Room.RoomViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit @Model.RoomType</h2>

<hr />
@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p class="alert alert-danger">@ViewBag.Message</p>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Rooms" asp-action="EditRoom" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@ViewBag.RoomId" />
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <input asp-for="RoomType" class="form-control" />
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAdults" class="control-label"></label>
                <input asp-for="NumberOfAdults" class="form-control" />
                <span asp-validation-for="NumberOfAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfChildren" class="control-label"></label>
                <input asp-for="NumberOfChildren" class="form-control" />
                <span asp-validation-for="NumberOfChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Room" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
